In [3]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
from citipy import citipy
# Import the API key.
from config import g_key

# Import the requests library.
import requests

from datetime import datetime
import time
from scipy.stats import linregress

In [4]:
# Store the CSV you saved created in part one into a DataFrame.
vacationItinerary_df = pd.read_csv("Data/WeatherPy_vacation_.csv", index_col = 0)
vacationItinerary_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
City_ID,,,,,,,
0,Dhankuta,NP,38.93,few clouds,26.98,87.34,Hotel Pacific - 3
2,Hithadhoo,MV,81.48,overcast clouds,-0.60,73.08,Scoop Guest House
3,Victoria,BN,80.60,broken clouds,5.28,115.24,Tiara Labuan Hotel
4,Port Elizabeth,US,43.00,overcast clouds,39.31,-74.98,HAMMER RUN
5,Mechetinskaya,RU,38.19,light rain,46.77,40.45,"Stoyanka, Shinomontazh, Dush"
6,Palmer,AU,61.00,clear sky,-34.85,139.16,Palmer Hotel
8,Llanes,ES,46.99,clear sky,43.42,-4.75,Hotel La Paz
9,Dalmatovo,RU,18.39,clear sky,56.26,62.94,Gostinitsa Dlya Palomnikov
12,Rikitea,PF,76.03,broken clouds,-23.12,-134.97,Pension Maro'i
13,Bulancak,TR,39.20,few clouds,40.94,38.23,Ada Loft Aparts

In [5]:
#filter four picked cities 

ZACapeTown_df = vacationItinerary_df[vacationItinerary_df["City"]== "Cape Town"]
ZACapeTown_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
City_ID,,,,,,,
37,Cape Town,ZA,68.0,broken clouds,-33.93,18.42,Southern Sun Waterfront Cape Town

In [6]:
#filter four picked cities 

ZAPortAlfred_df = vacationItinerary_df[vacationItinerary_df["City"]== "Port Alfred"]
ZAPortAlfred_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
City_ID,,,,,,,
23,Port Alfred,ZA,68.0,scattered clouds,-33.59,26.89,The Halyards Hotel

In [7]:
ZAKruisfontein_df = vacationItinerary_df[vacationItinerary_df["City"]== "Kruisfontein"]
ZAKruisfontein_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
City_ID,,,,,,,
201,Kruisfontein,ZA,65.17,light rain,-34.0,24.73,Oyster Bay House Rental

In [8]:
ZAHermanus_df = vacationItinerary_df[vacationItinerary_df["City"]== "Hermanus"]
ZAHermanus_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
City_ID,,,,,,,
95,Hermanus,ZA,64.0,overcast clouds,-34.42,19.24,Misty Waves Boutique Hotel

In [9]:
ZAcities_df = vacationItinerary_df.loc[vacationItinerary_df["City"].isin(["Cape Town","Port Alfred","Kruisfontein","Hermanus"])]
ZAcities_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
City_ID,,,,,,,
23,Port Alfred,ZA,68.00,scattered clouds,-33.59,26.89,The Halyards Hotel
37,Cape Town,ZA,68.00,broken clouds,-33.93,18.42,Southern Sun Waterfront Cape Town
95,Hermanus,ZA,64.00,overcast clouds,-34.42,19.24,Misty Waves Boutique Hotel
201,Kruisfontein,ZA,65.17,light rain,-34.00,24.73,Oyster Bay House Rental

In [10]:
#create longtititue and latitude pairs 
ZAcities_lng_lat = ZAcities_df[["Lat","Lng"]]
ZAcitiesT = [tuple(x) for x in ZAcities_lng_lat.values][0]
ZAcitiesT

(-33.59, 26.89)

In [11]:
#create lat lng values for each city using tuple 

ZACapeTown_lat_lng = ZACapeTown_df[["Lat", "Lng"]]
ZACapeTownT = [tuple(x) for x in ZACapeTown_lat_lng.values][0]
ZACapeTownT

(-33.93, 18.42)

In [12]:
#create lat lng values for each city using tuple 

ZAPortAlfred_lat_lng = ZAPortAlfred_df[["Lat", "Lng"]]
ZAPortAlfredT = [tuple(x) for x in ZAPortAlfred_lat_lng.values][0]
ZAPortAlfredT

(-33.59, 26.89)

In [13]:
#create lat lng values for each city using tuple 
ZAKruisfontein_lat_lng = ZAKruisfontein_df[["Lat", "Lng"]]
ZAKruisfonteinT = [tuple(x) for x in ZAKruisfontein_lat_lng.values][0]
ZAKruisfonteinT

(-34.0, 24.73)

In [14]:
#create lat lng values for each city using tuple 
ZAHermanus_lat_lng = ZAHermanus_df[["Lat", "Lng"]]
ZAHermanusT = [tuple(x) for x in ZAHermanus_lat_lng.values][0]
ZAHermanusT

(-34.42, 19.24)

In [15]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [16]:
#create a direction map

fig = gmaps.figure()
#map the drive to the four picked cities 
#driving_directions = gmaps.directions_layer(ZACapeTownD, ZAPortAlfredD, waypoints=[ZAKruisfonteinD, ZAHermanusD], travel_mode='DRIVING')
driving_directions = gmaps.directions_layer(ZACapeTownT, ZAPortAlfredT, waypoints=[ZAKruisfonteinT, ZAHermanusT], travel_mode='DRIVING')
fig.add_layer(driving_directions)
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [19]:
# Store the DataFrame Row.
hotels = [info_box_template.format(**row) for index, row in ZAcities_df.iterrows()]

In [20]:
#set the pop-up marker for each city in the vacation itinerary

# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = ZAcities_df[["Lat", "Lng"]]
# max_temp = ZAcities_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
#heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
           #  max_intensity=300, point_radius=4)
    

# Store the DataFrame Row.
# hotels = [info_box_template.format(**row) for index, row in ZAcities_df.iterrows()]
marker_layer = gmaps.marker_layer(locations, info_box_content= hotels)
#fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))