In [14]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
from citipy import citipy
# Import the API key.
from config import g_key

# Import the requests library.
import requests

from datetime import datetime
import time
from scipy.stats import linregress

In [15]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("Data/WeatherPy_challenge1.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain inches(last 3hrs),Snow inches(last 3hrs)
0,0,Dhankuta,NP,2020-01-05 20:52:22,26.98,87.34,38.93,82,12,5.14,few clouds,0.0,0.0
1,1,Beringovskiy,RU,2020-01-05 20:55:55,63.05,179.32,-7.46,79,89,16.67,overcast clouds,0.0,0.0
2,2,Hithadhoo,MV,2020-01-05 20:55:55,-0.60,73.08,81.48,78,100,11.25,overcast clouds,0.0,0.0
3,3,Victoria,BN,2020-01-05 20:55:55,5.28,115.24,80.60,74,75,6.93,broken clouds,0.0,0.0
4,4,Port Elizabeth,US,2020-01-05 20:54:02,39.31,-74.98,43.00,48,90,10.29,overcast clouds,0.0,0.0

In [16]:
#Get the data types
city_data_df.dtypes

City_ID                     int64
City                       object
Country                    object
Date                       object
Lat                       float64
Lng                       float64
Max Temp                  float64
Humidity                    int64
Cloudiness                  int64
Wind Speed                float64
Current Description        object
Rain inches(last 3hrs)    float64
Snow inches(last 3hrs)    float64
dtype: object

In [17]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [18]:
# Get the minmum tempreture 
# Ask the customer to add a minimum and maximum temperature value.Filter the DataFrame for minimum and maximum temperature preferences, and if the rain or snow accumulation is 0 inches or not using conditional statements.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))
rain_q = input("Do you want it to be raining? (yes/no)")
snow_q = input("Do you want it to be snowing? (yes/no)")

What is the minimum temperature you would like for your trip? 1
What is the maximum temperature you would like for your trip? 90
Do you want it to be raining? (yes/no)no
Do you want it to be snowing? (yes/no)yes

In [19]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain inches(last 3hrs),Snow inches(last 3hrs)
0,0,Dhankuta,NP,2020-01-05 20:52:22,26.98,87.34,38.93,82,12,5.14,few clouds,0.00,0.0
2,2,Hithadhoo,MV,2020-01-05 20:55:55,-0.60,73.08,81.48,78,100,11.25,overcast clouds,0.00,0.0
3,3,Victoria,BN,2020-01-05 20:55:55,5.28,115.24,80.60,74,75,6.93,broken clouds,0.00,0.0
4,4,Port Elizabeth,US,2020-01-05 20:54:02,39.31,-74.98,43.00,48,90,10.29,overcast clouds,0.00,0.0
5,5,Mechetinskaya,RU,2020-01-05 20:52:24,46.77,40.45,38.19,63,100,4.45,light rain,0.19,0.0
6,6,Palmer,AU,2020-01-05 20:54:03,-34.85,139.16,61.00,62,1,6.93,clear sky,0.00,0.0
8,8,Llanes,ES,2020-01-05 20:52:24,43.42,-4.75,46.99,10,0,11.77,clear sky,0.00,0.0
9,9,Dalmatovo,RU,2020-01-05 20:52:24,56.26,62.94,18.39,93,0,9.78,clear sky,0.00,0.0
12,12,Rikitea,PF,2020-01-05 20:54:03,-23.12,-134.97,76.03,78,67,15.41,broken clouds,0.00,0.0
13,13,Bulancak,TR,2020-01-05 20:52:24,40.94,38.23,39.20,93,20,1.12,few clouds,0.00,0.0

In [20]:
# conditional statments to filter out raining or snowing 
rainsnow_prefrence = ""

if (rain_q == "no" and snow_q == "no"):
    rainsnow_prefrence = cit_data_df.loc[(city_data_df["Rain inches(last 3hrs)"] <= 0) & \
                                (city_data_df["Snow inches(last 3hrs)"] <= 0)]
    
elif (rain_q == "no" and snow_q == "yes"):
    rainsnow_prefrence = city_data_df.loc[(city_data_df["Rain inches(last 3hrs)"] <= 0) & \
                               (city_data_df["Snow inches(last 3hrs)"] >= 0)]
    
elif (rain_q == "yes" and snow_q == "no"):
    rainsnow_prefrence = city_data_df.loc[(city_data_df["Rain inches(last 3hrs)"] >= 0) & \
                                (city_data_df["Snow inches(last 3hrs)"] <= 0)]
        
else:
    rainsnow_prefrence = city_data_df.loc[(city_data_df["Rain inches(last 3hrs)"] >= 0) & \
                                (city_data_df["Snow inches(last 3hrs)"] >= 0)]

rainsnow_prefrence.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain inches(last 3hrs),Snow inches(last 3hrs)
0,0,Dhankuta,NP,2020-01-05 20:52:22,26.98,87.34,38.93,82,12,5.14,few clouds,0.0,0.0
1,1,Beringovskiy,RU,2020-01-05 20:55:55,63.05,179.32,-7.46,79,89,16.67,overcast clouds,0.0,0.0
2,2,Hithadhoo,MV,2020-01-05 20:55:55,-0.60,73.08,81.48,78,100,11.25,overcast clouds,0.0,0.0
3,3,Victoria,BN,2020-01-05 20:55:55,5.28,115.24,80.60,74,75,6.93,broken clouds,0.0,0.0
4,4,Port Elizabeth,US,2020-01-05 20:54:02,39.31,-74.98,43.00,48,90,10.29,overcast clouds,0.0,0.0

In [21]:
comp = preferred_cities_df.append(rainsnow_prefrence)
comp

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain inches(last 3hrs),Snow inches(last 3hrs)
0,0,Dhankuta,NP,2020-01-05 20:52:22,26.98,87.34,38.93,82,12,5.14,few clouds,0.00,0.0
2,2,Hithadhoo,MV,2020-01-05 20:55:55,-0.60,73.08,81.48,78,100,11.25,overcast clouds,0.00,0.0
3,3,Victoria,BN,2020-01-05 20:55:55,5.28,115.24,80.60,74,75,6.93,broken clouds,0.00,0.0
4,4,Port Elizabeth,US,2020-01-05 20:54:02,39.31,-74.98,43.00,48,90,10.29,overcast clouds,0.00,0.0
5,5,Mechetinskaya,RU,2020-01-05 20:52:24,46.77,40.45,38.19,63,100,4.45,light rain,0.19,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
550,550,Anaconda,US,2020-01-05 20:53:23,46.13,-112.94,28.99,50,1,6.93,clear sky,0.00,0.0
551,551,Igdir,IR,2020-01-05 20:53:23,37.52,45.24,21.20,100,20,4.70,mist,0.00,0.0
553,553,Abai,KZ,2020-01-05 20:53:23,41.35,68.95,37.40,86,100,4.70,mist,0.00,0.0
554,554,Baykit,RU,2020-01-05 20:54:59,61.68,96.39,9.34,96,100,4.05,overcast clouds,0.00,0.0
555,555,Kapuskasing,CA,2020-01-05 20:53:24,49.42,-82.43,6.80,92,90,9.17,light snow,0.00,0.0

In [22]:
comp.drop_duplicates(inplace = True)

In [23]:
len(comp)

556

In [24]:
preferred_cities_df.count()

City_ID                   497
City                      497
Country                   496
Date                      497
Lat                       497
Lng                       497
Max Temp                  497
Humidity                  497
Cloudiness                497
Wind Speed                497
Current Description       497
Rain inches(last 3hrs)    497
Snow inches(last 3hrs)    497
dtype: int64

In [25]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
Hotelvacation_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()
Hotelvacation_df["Hotel Name"] = ""

In [26]:
Hotelvacation_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Dhankuta,NP,38.93,few clouds,26.98,87.34,
2,Hithadhoo,MV,81.48,overcast clouds,-0.60,73.08,
3,Victoria,BN,80.60,broken clouds,5.28,115.24,
4,Port Elizabeth,US,43.00,overcast clouds,39.31,-74.98,
5,Mechetinskaya,RU,38.19,light rain,46.77,40.45,
...,...,...,...,...,...,...,...
551,Igdir,IR,21.20,mist,37.52,45.24,
552,Dajal,PK,51.51,light rain,29.56,70.38,
553,Abai,KZ,37.40,mist,41.35,68.95,
554,Baykit,RU,9.34,overcast clouds,61.68,96.39,
555,Kapuskasing,CA,6.80,light snow,49.42,-82.43,

In [27]:
# Set the parameters to search for a hotel in Paris.
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key,
    "location": "48.8566, 2.3522"}
# Use base URL to search for hotels in Paris.
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
# Make request and get the JSON data from the search.
hotels = requests.get(base_url, params=params).json()

In [28]:
 # Iterate through the DataFrame.
for index, row in Hotelvacation_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to the params dictionary as values to the location key.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        Hotelvacation_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [29]:
# Add a heatmap of temperature for the vacation spots.
locations = Hotelvacation_df[["Lat", "Lng"]]
max_temp = Hotelvacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
Hotelvacation_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Dhankuta,NP,38.93,few clouds,26.98,87.34,Hotel Pacific - 3
2,Hithadhoo,MV,81.48,overcast clouds,-0.60,73.08,Scoop Guest House
3,Victoria,BN,80.60,broken clouds,5.28,115.24,Tiara Labuan Hotel
4,Port Elizabeth,US,43.00,overcast clouds,39.31,-74.98,HAMMER RUN
5,Mechetinskaya,RU,38.19,light rain,46.77,40.45,"Stoyanka, Shinomontazh, Dush"
...,...,...,...,...,...,...,...
551,Igdir,IR,21.20,mist,37.52,45.24,باغ خبازی Khabbazi Garden
552,Dajal,PK,51.51,light rain,29.56,70.38,Dr. Malik Uzair Ahmad Hanbhi
553,Abai,KZ,37.40,mist,41.35,68.95,
554,Baykit,RU,9.34,overcast clouds,61.68,96.39,Gostinitsa
555,Kapuskasing,CA,6.80,light snow,49.42,-82.43,Park Inn Motel

In [31]:
# Create the output file (CSV).
output_data_file = "Data/WeatherPy_vacation_.csv"
# Export the City_Data into a CSV.
Hotelvacation_df.to_csv(output_data_file, index_label="City_ID")

In [32]:
# Add a heatmap of temperature for the vacation spots.
locations = Hotelvacation_df[["Lat", "Lng"]]
max_temp = Hotelvacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [33]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [34]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in Hotelvacation_df.iterrows()]

In [35]:
# Add pop-up marker for each city.
locations = Hotelvacation_df[["Lat", "Lng"]]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))