In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
from citipy import citipy
# Import the API key.
from config import g_key

# Import the requests library.
import requests

from datetime import datetime
import time
from scipy.stats import linregress

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Azuaga,ES,2020-01-04 02:09:08,38.26,-5.68,39.99,91,0,4.00
1,1,Vestmannaeyjar,IS,2020-01-04 02:09:08,63.44,-20.27,33.89,71,100,37.31
2,2,Praia Da Vitoria,PT,2020-01-04 02:09:09,38.73,-27.07,55.40,82,75,17.60
3,3,Busselton,AU,2020-01-04 02:09:07,-33.64,115.35,73.00,22,26,2.39
4,4,Atuona,PF,2020-01-04 02:09:09,-9.80,-139.03,80.44,73,0,15.73

In [3]:
#Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [12]:
# Add the heatmap layer
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
# fig = gmaps.figure()
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)
# heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
# heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [19]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Atuona,PF,2020-01-04 02:09:09,-9.80,-139.03,80.44,73,0,15.73
7,7,Jamestown,AU,2020-01-04 02:09:08,-33.21,138.60,77.76,42,0,19.73
11,11,Rikitea,PF,2020-01-04 02:09:10,-23.12,-134.97,79.14,78,94,12.19
15,15,Neuquen,AR,2020-01-04 02:09:11,-38.95,-68.06,89.60,15,40,18.34
20,20,Fuerte Olimpo,BR,2020-01-04 02:09:12,-21.04,-57.87,77.18,63,0,3.38
21,21,Puerto Ayora,EC,2020-01-04 02:09:12,-0.74,-90.35,75.00,83,12,3.00
22,22,Bambous Virieux,MU,2020-01-04 02:09:12,-20.34,57.76,77.00,94,75,12.86
24,24,Hilo,US,2020-01-04 02:09:12,19.71,-155.08,82.40,58,1,9.17
27,27,Mahebourg,MU,2020-01-04 02:09:13,-20.41,57.70,77.00,94,75,7.92
31,31,Viedma,AR,2020-01-04 02:09:14,-40.81,-62.99,78.10,42,3,18.61

In [20]:
preferred_cities_df.count()

City_ID       133
City          133
Country       132
Date          133
Lat           133
Lng           133
Max Temp      133
Humidity      133
Cloudiness    133
Wind Speed    133
dtype: int64

In [22]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""

In [23]:
hotel_df

                  City Country  Max Temp    Lat     Lng Hotel Name
4               Atuona      PF     80.44  -9.80 -139.03
7            Jamestown      AU     77.76 -33.21  138.60
11             Rikitea      PF     79.14 -23.12 -134.97
15             Neuquen      AR     89.60 -38.95  -68.06
20       Fuerte Olimpo      BR     77.18 -21.04  -57.87
..                 ...     ...       ...    ...     ...        ...
540             Touros      BR     80.60  -5.20  -35.46
541         Payakumbuh      ID     75.33  -0.23  100.63
545  Bahia De Caraquez      EC     78.80  -0.60  -80.42
559             Lodwar      KE     81.52   3.12   35.60
560         Hambantota      LK     75.20   6.12   81.12

[133 rows x 6 columns]

In [35]:
# Set the parameters to search for a hotel in Paris.
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key,
    "location": "48.8566, 2.3522"}
# Use base URL to search for hotels in Paris.
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
# Make request and get the JSON data from the search.
hotels = requests.get(base_url, params=params).json()

In [36]:
 # Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to the params dictionary as values to the location key.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [37]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
4,Atuona,PF,80.44,-9.80,-139.03,Villa Enata
7,Jamestown,AU,77.76,-33.21,138.60,Jamestown Motel Terraces
11,Rikitea,PF,79.14,-23.12,-134.97,Pension Maro'i
15,Neuquen,AR,89.60,-38.95,-68.06,Hotel del Comahue
20,Fuerte Olimpo,BR,77.18,-21.04,-57.87,Hotel Fuerte Olimpo
...,...,...,...,...,...,...
540,Touros,BR,80.60,-5.20,-35.46,INN NEW HORIZON
541,Payakumbuh,ID,75.33,-0.23,100.63,OYO 1587 Graha Homestay
545,Bahia De Caraquez,EC,78.80,-0.60,-80.42,La Piedra Hotel
559,Lodwar,KE,81.52,3.12,35.60,Turkwel Lodge
560,Hambantota,LK,75.20,6.12,81.12,Bungalow 63

In [39]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [41]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [43]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [44]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]