In [18]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
from citipy import citipy
# Import the API key.
from config import g_key

# Import the requests library.
import requests

from datetime import datetime
import time
from scipy.stats import linregress

In [19]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Samarai,PG,2020-01-04 17:55:21,-10.62,150.67,76.33,87,82,1.57
1,1,Chokurdakh,RU,2020-01-04 17:55:21,70.62,147.90,-13.61,95,88,3.47
2,2,Lixourion,GR,2020-01-04 17:55:22,38.20,20.43,55.40,76,40,5.82
3,3,Ushuaia,AR,2020-01-04 17:55:22,-54.81,-68.31,57.20,43,40,11.41
4,4,Sangar,RU,2020-01-04 17:55:22,63.92,127.47,-16.40,95,100,5.30

In [20]:
#Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [21]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [22]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [23]:
# Add the heatmap layer
# fig.add_layer(heat_layer)

In [24]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
# fig = gmaps.figure()
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)
# heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
# heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 80

In [28]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Samarai,PG,2020-01-04 17:55:21,-10.62,150.67,76.33,87,82,1.57
5,5,East London,ZA,2020-01-04 17:55:23,-33.02,27.91,78.80,88,40,4.70
11,11,Rikitea,PF,2020-01-04 17:55:24,-23.12,-134.97,77.92,79,86,17.67
16,16,Langsa,ID,2020-01-04 17:55:26,4.47,97.97,73.47,91,43,2.57
20,20,Cape Town,ZA,2020-01-04 17:55:27,-33.93,18.42,73.00,60,0,13.87
27,27,Avarua,CK,2020-01-04 17:52:05,-21.21,-159.78,77.00,88,37,4.70
33,33,Champerico,MX,2020-01-04 17:55:31,16.38,-93.60,75.20,57,75,23.04
44,44,Cabo San Lucas,MX,2020-01-04 17:55:33,22.89,-109.91,72.00,42,5,3.36
47,47,Nelson Bay,AU,2020-01-04 17:55:35,-32.72,152.14,73.40,60,90,21.92
49,49,Bredasdorp,ZA,2020-01-04 17:55:35,-34.53,20.04,71.60,64,0,13.87

In [29]:
preferred_cities_df.count()

City_ID       116
City          116
Country       116
Date          116
Lat           116
Lng           116
Max Temp      116
Humidity      116
Cloudiness    116
Wind Speed    116
dtype: int64

In [30]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""

In [31]:
hotel_df

            City Country  Max Temp    Lat     Lng Hotel Name
0        Samarai      PG     76.33 -10.62  150.67
5    East London      ZA     78.80 -33.02   27.91
11       Rikitea      PF     77.92 -23.12 -134.97
16        Langsa      ID     73.47   4.47   97.97
20     Cape Town      ZA     73.00 -33.93   18.42
..           ...     ...       ...    ...     ...        ...
553       Moyale      ET     77.13   3.52   39.05
556        Bowen      AU     75.00 -20.01  148.25
558    Ewa Beach      US     75.00  21.32 -158.01
559     Maragogi      BR     79.88  -9.01  -35.22
567        Wewak      PG     76.91  -3.55  143.63

[116 rows x 6 columns]

In [32]:
# Set the parameters to search for a hotel in Paris.
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key,
    "location": "48.8566, 2.3522"}
# Use base URL to search for hotels in Paris.
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
# Make request and get the JSON data from the search.
hotels = requests.get(base_url, params=params).json()

In [33]:
 # Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to the params dictionary as values to the location key.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [34]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Samarai,PG,76.33,-10.62,150.67,Nuli Sapi
5,East London,ZA,78.80,-33.02,27.91,Tu Casa
11,Rikitea,PF,77.92,-23.12,-134.97,Pension Maro'i
16,Langsa,ID,73.47,4.47,97.97,Kartika Hotel
20,Cape Town,ZA,73.00,-33.93,18.42,Southern Sun Waterfront Cape Town
...,...,...,...,...,...,...
553,Moyale,ET,77.13,3.52,39.05,Machi Guesthouse
556,Bowen,AU,75.00,-20.01,148.25,Rose Bay Resort
558,Ewa Beach,US,75.00,21.32,-158.01,Parkside By Gentry
559,Maragogi,BR,79.88,-9.01,-35.22,Salinas do Maragogi All Inclusive Resort
567,Wewak,PG,76.91,-3.55,143.63,In Wewak Boutique Hotel

In [35]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [36]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [37]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [38]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [39]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))