In [37]:
# Import the dependencies.
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [38]:
# Create a set of random latitude and longitude combinations.
lats = np.random.uniform(low=-90.000, high=90.000, size=1500)
lngs = np.random.uniform(low=-180.000, high=180.000, size=1500)
lat_lngs = zip(lats, lngs)
lat_lngs

In [39]:
# Import the requests library.
import requests

# Import the API key.
from config import weather_api_key

In [40]:
# Starting URL for Weather Map API Call.
url = "http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=" + weather_api_key
print(url)

http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=8e3d09a8d15b0ab48cc80cd774ca879e

In [41]:
# Import the datetime module from the datetime library.
from datetime import datetime

In [42]:
cities = ["Pittsburg", "Austin", "New York", "Los Angeles", "Seattle"]

In [43]:
# Create an empty list to hold the weather data.
city_data = []
# Print the beginning of the logging.
print("Beginning Data Retrieval     ")
print("-----------------------------")

# Create counters.
record_count = 1
set_count = 1

# Loop through all the cities in the list.
for i, city in enumerate(cities):

    # Group cities in sets of 50 for logging purposes.
    if (i % 50 == 0 and i >= 50):
        set_count += 1
        record_count = 1
    # Create endpoint URL with each city.
    city_url = url + "&q=" + city

    # Log the URL, record, and set numbers and the city.
    print(f"Processing Record {record_count} of Set {set_count} | {city}")
    # Add 1 to the record count.
    record_count += 1
    
# Run an API request for each of the cities.
    try:
        # Parse the JSON and retrieve data.
        city_weather = requests.get(city_url).json()
        # Parse out the needed data.
        city_lat = city_weather["coord"]["lat"]
        city_lng = city_weather["coord"]["lon"]
        city_max_temp = city_weather["main"]["temp_max"]
        city_humidity = city_weather["main"]["humidity"]
        city_clouds = city_weather["clouds"]["all"]
        city_wind = city_weather["wind"]["speed"]
        city_country = city_weather["sys"]["country"]
        # Convert the date to ISO standard.
        city_date = datetime.utcfromtimestamp(city_weather["dt"]).strftime('%Y-%m-%d %H:%M:%S')
        # Append the city information into city_data list.
        city_data.append({"City": city.title(),
                          "Lat": city_lat,
                          "Lng": city_lng,
                          "Max Temp": city_max_temp,
                          "Humidity": city_humidity,
                          "Cloudiness": city_clouds,
                          "Wind Speed": city_wind,
                          "Country": city_country,
                          "Date": city_date})

# If an error is experienced, skip the city.
    except:
        print("City not found. Skipping...")
        pass

# Indicate that Data Loading is complete.
print("-----------------------------")
print("Data Retrieval Complete      ")
print("-----------------------------")

Beginning Data Retrieval
-----------------------------
Processing Record 1 of Set 1 | Pittsburg
Processing Record 2 of Set 1 | Austin
Processing Record 3 of Set 1 | New York
Processing Record 4 of Set 1 | Los Angeles
Processing Record 5 of Set 1 | Seattle
-----------------------------
Data Retrieval Complete
-----------------------------

In [71]:
# Convert the array of dictionaries to a Pandas DataFrame.
city_data_df = pd.DataFrame(city_data)
city_data_df.head(10)

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Pittsburg,38.02,-121.89,55.00,81,1,3.36,US,2020-01-02 17:26:02
1,Austin,30.27,-97.74,57.20,87,75,4.70,US,2020-01-02 17:25:41
2,New York,40.73,-73.99,48.99,48,1,12.75,US,2020-01-02 17:24:56
3,Los Angeles,34.05,-118.24,68.00,62,1,5.82,US,2020-01-02 17:23:34
4,Seattle,47.60,-122.33,44.01,75,90,8.05,US,2020-01-02 17:22:00

In [72]:
new_column_order = ["City", "Country", "Date", "Lat", "Lng", "Max Temp", "Humidity", "Cloudiness", "Wind Speed"]
city_data_df = city_data_df[new_column_order]

In [73]:
city_data_df

,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,Pittsburg,US,2020-01-02 17:26:02,38.02,-121.89,55.00,81,1,3.36
1,Austin,US,2020-01-02 17:25:41,30.27,-97.74,57.20,87,75,4.70
2,New York,US,2020-01-02 17:24:56,40.73,-73.99,48.99,48,1,12.75
3,Los Angeles,US,2020-01-02 17:23:34,34.05,-118.24,68.00,62,1,5.82
4,Seattle,US,2020-01-02 17:22:00,47.60,-122.33,44.01,75,90,8.05

In [75]:
# Create the output file (CSV).
output_data_file = "weather_data/cities.csv"
# Export the City_Data into a CSV.
city_data_df.to_csv(output_data_file, index_label="City_ID")